<table id="playlist-table" class="table">

  <thead>
    <tr>
      <th>#</th>
      <th>Playlist Title</th>
    </tr>
  </thead>

  <tbody id="playlist-table-body">
    {{#each playlists as |playlist|}}
      <tr>
        <td>{{playlist.id}}</td>
        <td>{{playlist.title}}</td>
      </tr>
    {{/each}}
  </tbody>

</table>
