$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  background: #f29107;
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Lato', Arial, sans-serif;
  margin: 0;
  // padding:0;
  padding: 50px 0;
  text-align: center;
  padding-bottom: 60px;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:500);

input {
  color: #838b8b;
}

.modal-title {
  color: #838b8b;
}

.message {
  color: #FF0000;
}

.snip1564 {
  background-color: #ffffff;
  border: none;
  border-bottom: 6px solid #029ebe;
  border-top: 6px solid #029ebe;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 46px;
  letter-spacing: 3px;
  line-height: 34px;
  margin: 15px 40px;
  outline: none;
  padding: 0 10px;
  position: relative;
  text-transform: uppercase;
}

.snip1564:after,
.snip1564:before {
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ffffff;
  border-radius: 50%;
  top: -6px;
  content: "";
  height: 46px;
  position: absolute;
  width: 46px;
  border: 6px solid #ddd;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
}

.snip1564:before {
  right: -23px;
  border-left-color: #029ebe;
  border-bottom-color: #029ebe;
}

.snip1564:after {
  left: -23px;
  border-right-color: #029ebe;
  border-top-color: #029ebe;
}

.snip1564.hover,
.snip1564:hover {
  background-color: #ffffff;
}

.snip1564.hover:after,
.snip1564.hover:before,
.snip1564:hover:after,
.snip1564:hover:before {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
/* Demo purposes only */
// body {
//   background-color: #212121;
//   padding: 50px 0;
//   text-align: center;
// }
